body{
    background: #aafff0;
}
.wrapper{
    margin:0 auto;
    width:600px;
    display: flex;
    flex-direction: column;
    border: 0.5mm ridge #000;
    padding: 20px;
    background: white;
}
.right{
    background-color: #d0f0c0;
    border-radius: 5px;
    padding-left:5px;
}
.wrong{
    background-color: #faa19b;
    border-radius: 5px;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}